html,
body {
    height: 100%;
    width: 100%;
    background: url(mama.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


a {
    text-decoration: none;
    font-size: 2rem;
    color: aquamarine;
    margin-top: 10px;
    transition: all 1s;
}

a:hover {
    transform: scale(1.2);
}

a:visited {
    transform: scale(1.2);
    text-decoration: none;
    font-size: 2rem;
    color: aquamarine;
    margin-top: 10px;
}

.buffer {
    height: 2rem;
}

h1 {
    font-size: 7rem;
    color: cadetblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic
}

p {
    font-size: 4rem;
    text-shadow: #FC0 1px 0 10px;
    color: aliceblue;
}